*{
    margin: 0;
}

body{
    text-align: center;

}

h1{
    margin-top: 2rem;
}

h2{
    margin: 1.5rem 0 0 0;
}

.container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    margin: 1rem;
    margin-bottom: 1.5rem;
    border: 0.5rem solid black;
}



.red{
    background-color: #6e5e5e;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}

.green{
    background-color: #7ba388;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}
.orange{
    background-color: #da7da0;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}
.blue{
    background-color: #c1dbed;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}

.flashGame{
    background-color: white;
}

.flashUser{
    background-color: green;
}

.gameOver{
    background-color: red;
}

#reset-btn{
    position: relative;
    top: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out;
}

#reset-btn:hover{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.none{
    display: none;
}

#new-game{
    position: relative;
    top: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out;
}
#new-game:hover{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* mobile sumsung */
@media (max-width:412px){
    body{
        margin: 40vmin 10vmin 0 10vmin;
    }
    .btn{
        height: 29vmin;
        width: 29vmin;
        margin: 1rem 0.5rem;
    }
}
/* ipad */
@media (min-width:720px){
    body{
        margin: 18vmin 10vmin 0 10vmin;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        position: relative;
        top: 10px;
        font-size: 1.9rem;
    }
    .btn{
        height: 29vmin;
        width: 29vmin;
        margin: 4rem 0.5rem;
    }
    #new-game{
        margin: 0;
        position:relative;
        top: 15px;
        height: 6rem;
        width: 15rem;
        font-size: 2rem;
    }
    #reset-btn{
        margin: 0;
        position:relative;
        top: 15px;
        height: 6rem;
        width: 15rem;
        font-size: 2rem;
    }
}

/* laptop */
@media (min-width:1024px){
    body{
        margin: 18vmin 10vmin 0 10vmin;
    }
    h1{
        font-size: 4rem;
    }
    h2{
        position: relative;
        top: 10px;
        font-size: 1.9rem;
    }
    .btn{
        height: 29vmin;
        width: 29vmin;
        margin: 4rem 0.5rem;
    }
    #new-game{
        margin: 0;
        position:relative;
        top: 15px;
        height: 6rem;
        width: 15rem;
        font-size: 2rem;
    }
    #reset-btn{
        margin: 0;
        position:relative;
        top: 15px;
        height: 6rem;
        width: 15rem;
        font-size: 2rem;
    }

}

@media (orientation: landscape) {
    *{
        margin:0;
        padding: 0;
        font-size: 1rem;
    }
    h1{
        margin:0.75rem 0 0.5rem 0;
        font-size: 1.5rem;
    }
    h2{
        margin:0.25rem 0 0.5rem 0;
    }
    .container{
        margin:0;
    }
    .btn{
        height: 5rem;
        width: 7rem;
        border: 3px solid black
    }
    #new-game{
        margin: 0;
        position:relative;
        top: 9px;
    }
    #reset-btn{
        margin: 0;
        position:relative;
        top: 9px;
    }
}