*{
    margin: 0;
}

body{
    text-align: center;

}

h1{
    margin-top: 2rem;
}

h2{
    margin: 1.5rem 0 0 0;
}

.container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    height: 150px;
    width: 150px;
    border-radius: 20%;
    margin: 1rem;
    margin-bottom: 1.5rem;
    border: 8px solid black;
}

.red{
    background-color: #6e5e5e;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}

.green{
    background-color: #7ba388;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}
.orange{
    background-color: #da7da0;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}
.blue{
    background-color: #c1dbed;
    box-shadow: 8px 8px 16px #bebebe,
               -8px -8px 16px #ffff;
}

.flashGame{
    background-color: white;
}

.flashUser{
    background-color: green;
}

.gameOver{
    background-color: red;
}

#reset-btn{
    position: relative;
    top: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out;
}

#reset-btn:hover{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.none{
    display: none;
}

#new-game{
    position: relative;
    top: 2rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out;
}
#new-game:hover{
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}