*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(208, 188, 175);
    text-align: center;
}
h3{
    color: #3C4F76;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: #DDDBF1;
    color:blue;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.msg-container{
    font-size: 5rem;
    margin-top: 200px;
    margin-bottom: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(12, 11, 11);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.hide{
    display: none;
}
